{% assign user = site.github.owner %}

<div class="profile">
  <img src="{{ user.avatar_url }}" class="profile-avatar" alt="{{ user.name }}">
  <h2 class="profile-name">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h2>
  {% if user.bio %}
  <p class="profile-bio">{{ user.bio }}</p>
  {% endif %}

  {% if include.metadata %}
  <div class="profile-meta">
    {% if user.login %}
    <div class="profile-meta-item">
      {% octicon mark-github height:16 fill:{{ icon_color }} aria-label:GitHub %}
      <a href="https://github.com/{{ user.login }}">@{{ user.login }}</a>
    </div>
    {% endif %}
    {% if user.email %}
    <div class="profile-meta-item">
      {% octicon mail height:16 fill:{{ icon_color }} aria-label:email %}
      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    </div>
    {% endif %}
    {% if site.social_media %}
    <div class="profile-social">
      {% for account in site.social_media %}
        {% assign service_shortname = account[0] %}
        {% assign service = site.data.social_media[service_shortname] %}
        <a href="{{ service.profile_url_prefix }}{{ account[1] }}" title="{{ service.name }}: {{ account[1] }}">
          {{ service.icon_svg }}<span class="sr-only">{{ service.name }}</span>
        </a>
      {% endfor %}
    </div>
    {% endif %}
    {% if user.hireable %}
    <span class="profile-badge">Available for hire</span>
    {% endif %}
  </div>
  {% endif %}
</div>
